*{
    font-family: "PT Serif", serif;
}

:root{
    --blue : #6EB3D0;
    --green : #B6D7A8;
    --pink : #F7B6D2;
    --orange : #F4A623;
    --black : #000000;
    --white : #FFFFFF;
}

.text-justify{
    text-align: justify;
}

.border-ntj{
    box-shadow: 0px 0px 15px 4px #198754a1;
}

.border-ntj2{
    box-shadow: 0px 0px 15px 4px #198754a1;
    border: none;
}

.bg-hssbPc{
    background-image: url(../img/cafes/bg-coffeePc.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-hssbTablet{
    background-image: url(../img/cafes/bg-coffeeTablet.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-hssbMobile{
    background-image: url(../img/cafes/bg-coffeeMobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.text-warning2{
    color: #ffc107;
}

.bg-warning2{
    background-color: #ffc1071c;
}
